::-webkit-scrollbar {
    display: none;
}

.content {
    text-align: center;
    font-size: 2em;
    font-weight: 600;
    background-color: #0F0F0F;
}

.content section, .content .home {
    border-bottom: 1px solid #F0F0F0;
    background-color: #0F0F0F;
    height: 100vh;
}

.banner-content {
    background-color: #fff;
    margin: 10px auto;
    width: 812px;
    height: 256px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 50px;
    overflow-y: hidden;
    scroll-behavior: smooth;
}
.banner-content img {
    width: 812px;
    display: inline-block;
}

.product {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
.content h2 {
    font-size: 1.5em;
    font-weight: 600;
    color: #fff;
}

