@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');

::-webkit-scrollbar {
  width: 1px; 
  height: 1px; 
}

*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  transition: .5s;
}
/* INI ADALAH STYLING PADA BLANK ATAU BLANKPAGE = blank.jsx */
.blankPage{
  background-color: #0a0a0a;
  height: 100vh;
  padding: 50vh;
  text-align: center;
  color: #eaeaea;
}
.blankPage p{
  margin-top: 1em;
  margin-bottom: .5em;
}
.blankPage #back{
  position: relative;
  top: 25px;
}
/* INI ADALAH STYLING PADA NAVIGASIBAR  ATAU NAVBAR =  Navbar.jsx */
.brand {
  margin-left: 2em;
  cursor: pointer;
}
.brand img {
  margin-right: 1em;
}
nav {
  font-family: "Modak", serif;
  font-weight: 200;
  font-style: normal;
  color: #eaeaea;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 4em;
  display: flex;
  justify-content: space-between;
  background-color: #0A5EB0;
}
nav div {
  display: flex;
  align-items: center;
  padding: 1em 0;
}
nav div img {
  width: 2em;
}
.Nav-Menu{
  display: flex;
  justify-content: center;
  margin-right: 2em;
  width: 13em;
  gap: 2em;
}
nav a i {
  color: white;
  font-size: 1.5em;
}
nav a i:hover {
  font-size: 2.5em;
  color: darkgrey;
}
/* INI ADALAH STYLING PADA HALAMAN INDEX ATAU INDEX PAGE = Index.jsx */
.indexPage{
  background-color: #D4EBF8;
}
.content{
  margin-top:4em;
}
.content #sec1{
  height: 100vh;
}
/* INI ADALAH STYLING PADA HALAMAN LOGIN ATAU LOGIN PAGE = Login.jsx */
.loginPage{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #D4EBF8;
}
.loginBox{
  background-color: #0A5EB0;
  padding: 2em;
  border-radius: 10px;
  width: 20em;
  height: 25em;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.loginBox h1{
  color: #eaeaea;
  font-size: 2em;
  margin: 1em;
  padding: 0;
  cursor: default;
}
.loginBox input{
  margin: .5em 0;
  padding: 1em;
  height: 1em;
  color: #eaeaea;
  background-color: #0A5EB0;
  border-top: none;
  border-left: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  border-right: none;
  text-align: left;
  transition: 1s;
}
.loginBox input::placeholder{
  color: darkgray;
  text-align: center;
}
.loginBox input:hover,
.loginBox input:focus{
  outline: none;
  border: none;
  background-color: #eaeaea;
  color: black;
  ::placeholder{
    color: #0a0a0a;
  }
}
.loginBox button{
  width: 5em;
  height: 3em;
  border-radius: 10px;
  border: none;
  text-align: center;
  cursor: pointer;
  background-color: #eaeaea;
  color: #0A5EB0;
  margin: 2em;
  font-weight: bold;
}
.loginBox button:hover{
  background-color: darkgray;
  color: aqua;
}
.anotherLogin{
  margin: 0 0 .5em 0;
  font-size: 1.5em;
  display: flex;
  gap: .5em;
  color: #eaeaea;
}
.anotherLogin i:hover{
  font-size: 2em;
}
.loginBox p{
  color: darkgray;
  cursor: default;
}
.loginBox a{
  color: #eaeaea;
  text-decoration: none;
}
.loginBox a:hover{
  color: white;
  font-weight: bold;
  text-decoration: underline;
}